body {
    margin: 0;
    padding: 0;
   
    background-color: black;
  }

  .home {
    border-radius: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 120px;
    height: 26%;
    background-color: #161B22;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
   
    
  }


  .socialmidia {
    border-radius: 10px;
    position: fixed;
    left: 0;
    top: 20%;
    margin-top: 3%;
    width: 120px;
    height: 80%;
    background-color: #161B22;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
  }
 

  #right-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 340px; 
    height: 100%;
    background-color: #161B22;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
  }

  #center-div {
    border-radius: 10px;
    margin-left: 150px; 
    margin-right: 320px; 
    width: calc(100% - 500px); 
    height: 100vh;
    background-color: #212529;
  
    
  }

  .icons{
    width: 30px;
    color: white;
  
  

  }

  .aboutMe {
    background-color: #212529;
    padding: 20px;
    color: #fff;
   
    display: flex;
    display: flex;
    justify-content: space-between;

    
    padding: 20px; 
    
}

.imgprofile{
    clip-path: circle(50% at 50% 50%);
    
    
}



  .aboutMe p{
    text-align: right;
    position: relative;
    display: inline-block; 
    color: transparent; 
    background: linear-gradient(45deg, #00bcd4, #ff4081); /* Adiciona um gradiente de cor ao texto */
    -webkit-background-clip: text; /* Para navegadores WebKit (Safari, Chrome) */
    background-clip: text; /* Para navegadores padrão */
    font-size: 1.1rem;
    
  }

  .textAboutMe span {
  
   font-size: 30px;
   
  }
  

  tr:hover {
    background-color: #161B22;
  }
  tr{
    cursor: pointer;
  }


.table-dark tbody tr {
    border: 2px linear-gradient(45deg, #00bcd4, #ff4081);
}
.table-dark thead th {
    border: 2px solid linear-gradient(45deg, #00bcd4, #ff4081);
}

/* Estilo personalizado para o texto das células da tabela */
.table-dark tbody tr td {
    color:  #c1cbccea;;
}

.title{
    background-color: #212529;
    color: #fff;

    text-align: center;
}

.right-menu, img{
    width: 400px;
}

.right-menu, p, li{
   margin-top: 5%;
   font-size: 0.9rem;

}
.description{
  display: none;
}

.contact, .icons {
  display: flex;
   
  gap: 20px; 
}
.contact{
  
  justify-content: end;
  background-color: #212529;
  color: #CF5790;
}
.detalherProjeto{
  color: #c1cbccea;
}

 h2{
  color: transparent; 
  background: linear-gradient(45deg, #00bcd4, #ff4081); 
  -webkit-background-clip: text; 
  background-clip: text; 

}






@media screen and (max-width: 768px) {
 
  #left-menu {
      width: 40px;
  }

  #center-div {
      margin-left: 50px;
      margin-right: 20px;
      width: calc(100% - 70px);
  }

  #right-menu {
      width: 200px;
  }

  .icons {
      width: 15px;
  }

  .imgprofile {
      width: 100px;
  }
}
