body {
  margin: 0;
  padding: 0;
 
  background-color: black;
}




.home {
  border-radius: 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 120px;
  height: 100%;
  background-color: #161B22;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
 
  
} 





.socialMedia {
margin-left: 50%;
margin-top:-10%;
}

.expandir {
  height :100vh;
  margin-left: 10%;
  width: 88%;
  transition: width 0.3s; /* Adicionado transição para suavizar a animação */
}

.processo{
  background-color: #212529;
  color: #c1cbcc;
  height: 40%;
 
  
}

.documentacao{
  margin-left: 5%;
}


#right-menu.disabled {
  display: none;
}


#right-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 340px; 
  height: 100%;
  background-color: #161B22;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}




.icons{
  width: 30px;
  color: white;
  margin-top: 50%;


}

.aboutMe {
  background-color: #212529;
  padding: 20px;
  color: #fff;
 
  display: flex;
  justify-content: space-between;

  
}

.imgprofile{
  clip-path: circle(50% at 50% 50%);
  width:100px ;
  padding: 5%;
  
  
}
.Hello{
  color: transparent; 
  background: linear-gradient(45deg, #00bcd4, #ff4081); /* Adiciona um gradiente de cor ao texto */
  -webkit-background-clip: text; /* Para navegadores WebKit (Safari, Chrome) */
  background-clip: text; /* Para navegadores padrão */
  font-size: 1.5rem;

}

.aboutMe p{
  text-align: right;
  position: relative;
  display: inline-block; 
  color: transparent; 
  background: linear-gradient(45deg, #00bcd4, #ff4081); /* Adiciona um gradiente de cor ao texto */
  -webkit-background-clip: text; /* Para navegadores WebKit (Safari, Chrome) */
  background-clip: text; /* Para navegadores padrão */
  font-size: 1.1rem;
  gap:5rem;
  line-height: 1.2;

  
}




tr:hover {
  background-color: #161B22;
}
tr{
  cursor: pointer;
}


.table-dark tbody tr {
  border: 2px linear-gradient(45deg, #00bcd4, #ff4081);
}
.table-dark thead th {
  border: 2px solid linear-gradient(45deg, #00bcd4, #ff4081);
}

/* Estilo personalizado para o texto das células da tabela */
.table-dark tbody tr td {
  color:  #c1cbccea;;
}

.title{
  background-color: #212529;
  color: #fff;

  text-align: center;
}

.right-menu, img{
  width: 400px;
}

.right-menu, p, li{
 margin-top: 5%;
 font-size: 0.9rem;

}

.detalherProjeto{
  margin-top: 15%;
}
.description{
display: none;
}

.contact, .icons {
 
 margin-left: 20px;
display: flex;
  
gap: 20px; 
}
.contact{

  margin-left: 50px;
  margin-right: 20px;
  width: calc(100% - 70px);

justify-content: end;
background-color: #000000;
color: #CF5790;
}
.detalherProjeto{
color: #c1cbccea;
}



h2{
color: transparent; 
background: linear-gradient(45deg, #00bcd4, #ff4081); 
-webkit-background-clip: text; 
background-clip: text; 

}

.progress-container {
  position: relative;
  width: 20%;
  height: 20px;
  background-color: #eee;
  border-radius: 10px; /* Metade da altura para criar uma aparência arredondada */
  overflow: hidden;
}

.progress-bar {
  width: 50%;
  height: 100%;
  background-color: #3498db;
  border-radius: 10px; /* Metade da altura para criar uma aparência arredondada */
  transition: width 0.5s ease-in-out;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.closeButton{
  position: absolute;
  cursor: pointer;
  margin-left: 75%;
  margin-top: -20%;
   color: #c1cbcc;
   background-color: #161B22;
  border: none;
  font-size:30px;
}

#QrcodeCurriculo{
width: 100px;
 margin-left: -30%; 
 margin-top: 30%;
    
}







@media screen and (max-width: 920px) {

 
  #left-menu {
    height: 10%;
    width: 100%;
  }
  #QrcodeCurriculo{
    width: 100px;
     margin-left: -30%; 
     margin-top: 30%;
        
    }
  
  .home {
    display: flex;
    align-items: center;
    
    border-radius: 10px;
    height: 10%;
    width: 100%;
    background-color: #161B22;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1;
  }
  
  .home a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
  }
  
  .home .icons {
    width: 24px; /* Ajuste o tamanho conforme necessário */
    height: 24px;

  }
  
  /* Adicionando estilos para os textos "hatSkills" e "Currículo" */
  .home span {
    color: #01CCA2;
    margin-right: 10px; /* Adicionando espaço entre os ícones e os textos */
  }
  

  



  #right-menu {
    display: block;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    position: fixed;
    top: 10%;
    left: 50%; /* Ajusta o menu para o centro horizontal da tela */
    transform: translateX(-50%); /* Centraliza o menu mesmo se a largura for variável */
    width: 80%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    background-color: #161B22;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1;
  }
  
  #right-menu .disabled {
    display: none;
  }
  
  #right-menu a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
  }
  
  #right-menu .icons {
    width: 24px;
    height: 24px;
  }
  
  #right-menu p,
  #right-menu li {
    text-decoration: none;
    margin: 5px 0;
  }
  
  #right-menu img {
    max-width: 100%;
    height: auto;

    margin-top: 5%;
  }

  #QrcodeCurriculo{
  

    width: 90%;
        
    }
    
  .aboutMe{
    background-color: #212529;
    padding: 10px;
    color: #fff;
    margin-top: 30%;
   
    display: flex;
  

  }

  .aboutMe p{
    text-align: right;
    position: relative;
    display: inline-block; 
    color: transparent; 
    background: linear-gradient(45deg, #00bcd4, #ff4081); /* Adiciona um gradiente de cor ao texto */
    -webkit-background-clip: text; /* Para navegadores WebKit (Safari, Chrome) */
    background-clip: text; /* Para navegadores padrão */
    font-size: 0.9rem;
    gap:5rem;
    line-height: 1.2;
  
    
  }

  
.socialMedia {
  margin-left: 20%;
  margin-top:-10%;

  }

  .socialMedia img {
   width: 20px;
  
    }
  

  .Project{
    margin-top: 2%;
  }
  
  
  .closeButton{
    position: absolute;
    cursor: pointer;
    margin-left: 75%;
    margin-top: -20%;
     color: #c1cbcc;
     background-color: #161B22;
    border: none;
    font-size:30px;
  }
  

  .closeButton{
    position: absolute;
    cursor: pointer;
    margin-left: 75%;
    margin-top: -10%;
     color: #c1cbcc;
     background-color: #161B22;
    border: none;
    font-size:30px;
  }
  
  


  .imgprofile {
    width:50px
  }

  .processo{
    height: 50%;



  }


}


